.App {
  background-color: #111a2e;
}


/* header */
.header, .navbar, .body {
  padding: 0  calc((100% - 1360px) /2)  ;

}
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 55px ;
  width: 100%;
  border-bottom: 1px solid #273343;
  background-color: #111a2e;
  z-index: 999;
}
.navbar{
  position: relative;
  top: 55px;
  display: flex;
  align-items: center;
  height: 55px;
}
.navbar_item a {
  display: flex;
  justify-content: flex-end;
  color: #CBD5e1;
}

.token_name {
  color: white;
  border: 1px solid #273343;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 10px;
}

.mode-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* body  */
.body {
  min-height: 100vh;
  margin-top: 55px;
  background-image: linear-gradient(rgba(204, 210, 219, 0.15) 0%, rgba(255, 255, 255, 0) 16rem);;
}
.main-content{
  padding: 15px 0;
}
.token_title{
  display: flex;
  padding: 20px 0;
  display: flex !important;
  align-items: last baseline !important;
  border-bottom: 1px solid #273343 ;
}
.token-erc{
  color: #e3e9f1;
  border-radius: 10px ;
  border-color: #273343;
  background-color: #111a2e;
}
.ant-typography{
  color:#f2f6fa !important ;
  margin: 0 !important;
}

.main-content-info {
  min-height: 230px;
  margin-top: 20px;
  display: flex !important;
  flex-direction: column;
  border: 1px solid #273343;
  background-color: #111a2e !important;
  padding: 16px ;
  border-radius: 10px;
}
.title {
  margin-bottom: 10px !important;
}
.title-info{
  color: #93A3B8 !important;
  margin-top: 10px !important;
}

.anticon{
  color: #93A3B8 !important; 
}


 /* feature tabs */
.main-content-action{
  margin-top: 30px;
  color: transparent;
}

.ant-tabs-tab{
  border-radius: 8px !important;
}
.ant-tabs-tabpane-active{
  border: 2px solid #273343;
  border-radius: 10px;
}